<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <title>Home</title>
</head>
<body>
        
        <div class="jumbotron bg-info text-white text-center ">
                <h1><a href='/'>GU OUTLET</a></h1>
                <h3>YOUR FREEDOM 自由煥然一新</h3>
                <div>外套系列，現正熱賣中</div> <br>
        </div>
        <div class="container">
                <div class="row">
                        <div class="col-sm-3">
                                <a href='category/coat'>
                                <h3>COAT・WIND COAT</h3>
                                <p>大衣・風衣</p>
                                        <img src='https://www.gu-global.com/tw/hmall/test/u0000000005369/sku/561/GCL09.jpg' width="200"/> 
                                </a>
                        </div>
                        <div class="col-sm-3">
                                <a href='category/jacket'>
                                <h3>JACKET・VEST</h3>
                                <p>外套・夾克・外搭背心</p>
                                <img src='https://www.gu-global.com/tw/hmall/test/u0000000005221/main/first/561/1.jpg' width="200"/> 
                                </a>
                        </div>
                        <div class="col-sm-3">
                                <a href='category/parka'>
                                <h3>PARKA</h3>
                                <p>連帽外套</p>
                                <img src=' https://www.gu-global.com/tw/hmall/test/u0000000004748/sku/561/GCL56.jpg' width="200"/> 
                                </a>
                        </div>
                        <div class="col-sm-3">
                                <a href='category/cardigan'>
                                <h3>CARDIGAN</h3>
                                <p>開襟外套</p>
                                <img src='https://www.gu-global.com/tw/hmall/test/u0000000004929/sku/561/GCL35.jpg' width="200"/> 
                                </a>
                        </div>
                </div>
        </div>
</body>
</html>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>