<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <title>Home</title>

        
</head>
<body>
        <div class="jumbotron bg-info text-white text-center ">
                <h1><a href='/'>GU OUTLET</a></h1>
                <h3>PARKA</h3>
                <div>連帽外套</div><br>
               
        </div>
        <div class="container fluid">
                <div class="row">
                        {% for result in results %}
                        
                        <div class="col-sm-4 text-center ">
                                <a href='coat/id/{{result[0]}}'></a>
                                <img src= {{result[3]}} width=150 /> <br>
                                <div>{{result[2]}}</div>  <br>
                                </a>
                        </div>
                        

                        {% endfor %}
                </div>

        </div>
</body>
</html>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>